<section class="index__user_dropdown">
  <form class="" action="/index" method="get">
    <label class="category_search_label"for="category">Looking for Something Else?</label><br>
    <select name="category" id="index_select">
      <option>Choose your interest...</option>
      <option value="discovering">Monument & Culture</option>
      <option value="eating">Food</option>
      <!-- <option value="going_out">Outdoors</option> -->
      <!-- <option value="hiking">Hiking</option> -->
      <option value="playing">Playing</option>
      <option value="relaxing">Places to relax</option>
      <option value="shopping">Shopping destinations</option>
      <option value="sightseeing">Sightseeing</option>
      <option value="doing_sports">Sports</option>
      <!-- <option value="traveling">Travel in vicinity</option> -->
    </select>
  
    <!-- <label for="budget">Choose a budget:</label>
    <select name="budget" id="">
      <option value="budget-cheap">Cheap</option>
      <option value="budget-expensive">Expensive</option>
    </select>   -->
    <br>
    <button class="index__user_dropdown_search_btn">Search</button>
    <br><br>
  </form>
</section>

