<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Index page</h1>
    <%- include('shared__navbar'); -%>
    <%- include('index__map'); -%>
    <%- include('index__interest_list'); -%>
    <%- include('shared__footer'); -%>

</body>
</html>