<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Map display</title>

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />


    
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="../css/index__map.css">

</head>


<body>
    <!-- map container -->
    <section class="map_container" id="map"></section>
<!-- <span></span> -->
<!-- <img src="" alt="${name} image"><h1>name</h1><p>description</p><i class="fa fa-star" style="font-size: 10px"></i> -->

<script>

    mapboxgl.accessToken = 'pk.eyJ1Ijoia2V2NHRlY2giLCJhIjoiY2thZGk2NTMyMjU5YTJ5cG03amhzdjFsaiJ9.W3prOXoqchGC_HA662EK6g';
    
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        ///////longitude / latitude
        center: [144.9631, -37.8136],
        zoom: 11.15
    });

    map.on('load', function() {
        // INSERT DATA HERE
        map.addSource('places', {
            'type': 'geojson',
            'data': 'http://localhost:8080/api/geojson'
        });
        // Add a layer showing the places.
        map.addLayer({
        'id': 'places',
        'type': 'symbol',
        'source': 'places',
        'layout': {
        'icon-image': '{icon}-15',
        'icon-size': 1.3,
        'icon-allow-overlap': true
        }
        });
        
        // When a click event occurs on a feature in the places layer, open a popup at the
        // location of the feature, with description HTML from its properties.
        map.on('click', 'places', function(e) {
            console.log(e);
        var name = e.features[0].properties.name;
        var description = e.features[0].properties.description;
        var image = e.features[0].properties.image;
        var coordinates = e.features[0].geometry.coordinates.slice();
        
        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }
        
        let html = `<div class="index__map_layout"><img src="${ image }" alt="${name} image" class="index__map__pop_up_image"><div class="pop_up_text"><h1 class="index__map__pop_up_title">${name}</h1><p class="index__map__pop_up_p">${description}</p><i class="fa fa-star index__map__pop_up_icon" style="font-size: 20px"></i></div></div>`
        
        new mapboxgl.Popup()
        .setLngLat(coordinates)
        .setHTML(html)
        .addTo(map);
        });
        
        // // Change the cursor to a pointer when the mouse is over the places layer.
        map.on('mouseenter', 'places', function() {
            map.getCanvas().style.cursor = 'pointer';
        });
        
        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'places', function() {
            map.getCanvas().style.cursor = '';
        });
    });
   
</script>

</body>
</html>