<div class="interest_container">
    <div class="interest_box">
        <img src="https://whatsonblog.melbourne.vic.gov.au/wp-content/uploads/2019/10/Birds-nest-garden-580x387.jpg" alt="">
        <div class="interest_description">
            <h2>Royal Botanic Garden</h2>
            <p>Take a break from indoors with an solo stroll through an urban forest or secluded nook in the city’s parks. The newly re-opened Royal Botanic Gardens’ fern gully has three lush meditative spaces, perfect for solo contemplation. </p>
        </div>
        <div class="interest_star">
            <i class="fa fa-star-o" style="font-size:36px"></i>
        </div>
    </div>

    <div class="interest_box">
        <img src="https://www.visitvictoria.com/-/media/atdw/melbourne/things-to-do/entertainment/spectator-sports/87af56c36266ca6529c3bb3cb0c5e1ee_1600x900.jpeg?ts=20190619300619" alt="">
        <div class="interest_description">
            <h2>AAMI Park</h2>
            <p>The Melbourne Rectangular Stadium, known as AAMI Park for sponsorship reasons, is an outdoor sports stadium on the site of Edwin Flack Field in the Sports and Entertainment Precinct in the Melbourne City Centre.</p>
        </div>
        <div class="interest_star">
            <i class="fa fa-star-o" style="font-size:36px"></i>
        </div>
    </div>

    <div class="interest_box">
        <img src="https://whatsonblog.melbourne.vic.gov.au/wp-content/uploads/2020/03/stalactites.jpg" alt="">
        <div class="interest_description">
            <h2>Stalactites</h2>
            <p>If you’ve ever wanted to enjoy moussaka from Stalactites’ or spiced chickpeas from Bar Lourinhã with a side of Netflix, your time has come. Dozens of Melbourne restaurants are adding special takeaway menus to their regular offer, featuring dishes that will travel well.</p>
        </div>
        <div class="interest_star">
            <i class="fa fa-star-o" style="font-size:36px"></i>
        </div>
    </div>

    <div class="interest_box">
        <img src="https://whatsonblog.melbourne.vic.gov.au/wp-content/uploads/2020/03/vic-market.jpg"alt="">
        <div class="interest_description">
            <h2>Queen Victoria Market</h2>
            <p>Many businesses need cash flow right now so they can keep paying their bills and staff. Gift vouchers are a great way to help with this. Buy one for yourself and have something to look forward to in a few months’ time. </p>
        </div>
        <div class="interest_star">
            <i class="fa fa-star-o" style="font-size:36px"></i>
        </div>
    </div>
</div>
