<div class="shared_nav">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <nav>
        <section class="navbar_heading">
            <a style="color: black; text-decoration: none;" href="/"><h3 style="color: #6557f5">Magic Melbourne Moments</h3></a>

            <div>
                <span style="font-size: 20px; font-family:'Balsamiq Sans', cursive; font-weight: bold;">Current weather: </span>                
                <span class="weather_icon"></span>
                <span  style="font-size: 18px" class="weather_temp"></span>
                <!-- <span style="font-size: 18px"class="weather_description"></span> -->
            </div>
        </section>
        <section class="navbar_signin">
            <p>
                <a class="index__navbar_cart" href="#">
                    <span style="font-size: 20px"><span class="index__navbar_cart_count"></span> items</span>
                    <i class="fa fa-star" style="font-size: 24px"></i>
                </a>
                
            <a href="/itinerary"><button class="button button_outline navbar__cart_button">Go To My Itinerary</button></a>  
        
                <button class="button  sign_in_button">Sign In</button>
            </p>
        </section>
    </nav>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="javascript/weather.js"></script>