<div class="shared_nav">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <nav>
        <section class="iti_navbar_heading">
            <a style="color: black; text-decoration: none;" href="/"><h3 style="color: #6557f5">Magic Melbourne Moments</h3>            
            <div style="margin-top: -35px">
                <span style="font-size: 20px; font-family:'Balsamiq Sans', cursive; font-weight: bold;">Current weather: </span>                
                <span class="weather_icon"></span>
                <span  style="font-size: 18px" class="weather_temp"></span>
                <span style="font-size: 18px"class="weather_description"></span>
            </div></a>
        </section>
        <section class="navbar_signin">
            <p>
                <!-- <a href="#">
                    <span style="font-size: 20px"><%=// arrOfSelectedAttractions.length %> Items</span>
                    <i class="fa fa-star" style="font-size: 24px"></i>
                </a> -->
                
            <a href="/index?category=discovering"><button class="button button_outline navbar__cart_button">GO TO FEED</button></a>  
        
                <button class="button  sign_in_button">Sign In</button>
            </p>
        </section>
    </nav>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const url = 'http://api.openweathermap.org/data/2.5/weather?lat=-37.8136&lon=144.9631&appid=753de0d43c90ad8a12bf508c48b1f51e'

    axios.get(url).then(res =>  {
        
        const temp = res.data.main.temp;
        const description = res.data.weather[0].description;
        const icon = res.data.weather[0].icon;

        const displayTemp = document.querySelector(".weather_temp");
        const dislayDescription = document.querySelector(".weather_description");
        const iconUrl = `https://openweathermap.org/img/wn/${icon}.png`;
        const kelvin = 273;
        const  navBarHeading = document.querySelector(".navbar_heading");

        displayTemp.textContent = Math.round(temp - kelvin) + "°C";
        dislayDescription.textContent = description;
        const iconElem = document.createElement("img");
        iconElem.classList.add('header_icon_iti');
        iconElem.setAttribute("src", iconUrl);
        dislayDescription.appendChild(iconElem);
    })   
</script>