<nav>
    <section class="navbar_heading">
        <h3>Magic Melbourne Moment</h3>
    </section>
    <section class="navbar_signin">
        <p>14 Items
        <i class="fa fa-star-o" style="font-size:36px"></i>
        <button class="sign_in_button">Sign In</button></p>
    </section>
</nav>