<div class="shared_nav">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <nav>
        <section class="navbar_heading">
            <h3><a style="color: black; text-decoration: none;" href="/">Magic Melbourne Moment</a></h3>
        </section>
        <section class="navbar_signin">
            <p>
                <a href="#">
                    <span><%=// arrOfSelectedAttractions.length %> Items</span>
                    <i class="fa fa-star" style="font-size: 26px"></i>
                </a>
                
            <a href="/itinerary"><button class="button button_outline navbar__cart_button">Go To Cart</button></a>  
        
                <button class="button  sign_in_button">Sign In</button>
            </p>
        </section>
    </nav>
</div>
