<div class="shared_nav">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
    <nav>
        <section class="navbar_heading">
            <h3>Magic Melbourne Moment</h3>
        </section>
        <section class="navbar_signin">
            <p><span>7 Items</span>
            <i class="fa fa-star" style="font-size: 26px"></i>
            <button class="sign_in_button">Sign In</button></p>
        </section>
    </nav>
</div>
