<h3>User dropdown</h3>

<section class="welcome_page__user_dropdown">
  <form class="" action="/index" method="get">
    <label for="category">Choose a category:</label>
    <select name="category" id="">
      <option value="category-food">Food</option>
      <option value="discovering">Points of Interest</option>
      <option value="eating">Food</option>
      <option value="going_out">Out doors</option>
      <option value="hiking">Hiking</option>
      <option value="playing">Playing</option>
      <option value="relaxing">Places to relex</option>
      <option value="shopping">Shopping destinations</option>
      <option value="sightseeing">Sightseeing</option>
      <option value="doing_sports">Sports</option>
      <option value="traveling">Travel in vicinity</option>
    </select>
  
    <label for="budget">Choose a budget:</label>
    <select name="budget" id="">
      <option value="budget-cheap">Cheap</option>
      <option value="budget-expensive">Expensive</option>
    </select>  
  
    <button class="welcome_page__user_dropdown_search_btn">Search</button>
  </form>
</section>

