<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/welcome_page.css">
    <title>Document</title>
</head>
<body>

    <%- include('welcome_page__header'); -%>
    <div>
        <%- include('welcome_page__user_dropdown'); -%>
        <%- include('welcome_page__login'); -%>
    </div>

    <script src="/js/welcome_page.js"></script>
</body>
</html>