<section class="welcome_page__login">
    <h3>LOGIN SECTION</h3>
    <form action="/action_page.php">
        <label>Email</label>
        <input type="email" name="email" placeholder="Your email..">
        <br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Your password..">
    </form>
    <button class="login__signin_button">Log In</button>
    <br>
    <button class="login__signup_button">Sign Up Here</button>
</section>