<section class="welcome_page__header">
    <h1 style="color: rgb(121, 109, 255); font-size: 35px; margin-top: 10px; text-transform: uppercase;">Welcome To <h1 style="word-spacing: 10px;letter-spacing: 3.5px; font-size: 65px">Magic Melbourne Moment</h1></h1>
</section>
