<h3>User dropdown</h3>

<section class="welcome_page__user_dropdown">
  <form action="/index" method="get">
    <label for="category">Choose a category:</label>
    <select name="category" id="">
      <option name="food" value="category-food">Food</option>
      <option name="POI" value="category-cultural">Cultural</option>
    </select>
  
    <label for="budget">Choose a budget:</label>
    <select name="budget" id="">
      <option value="budget-cheap">Cheap</option>
      <option value="budget-expensive">Expensive</option>
    </select>  
  
    <button class="welcome_page__user_dropdown_search_btn">Search</button>
  </form>
</section>

