<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/welcome_page.css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <%- include('welcome_page__header'); -%>
    <div class="welcome_page__main">
        <%- include('welcome_page__user_dropdown'); -%>
        <%- include('welcome_page__login'); -%>
    </div>
    <br><br><br><br>

    <script src="/js/welcome_page.js"></script>
</body>
</html>