<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Welcome Page</h1>
    <%- include('welcome_page__header'); -%>
    <%- include('welcome_page__user_dropdown'); -%>
    <%- include('welcome_page__login'); -%>

    <script src="/js/welcome_page.js"></script>
</body>
</html>