#map {
    height: 500px;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }