body {
    margin: 0 auto;
    font-family:-apple-system, BlinkMacSystemFont;
}

.mapViewBtn {
    background-color: white; 
    border: 1px solid #6557f5;
    color: #6557f5;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.listViewBtn {
    background-color: #6557f5; 
    border: 1px solid #6557f5;
    border: none;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

button:focus {
    outline: none;
}

.header_icon {
    width: 54px;
    margin-left: 65px;
}

.index__user_dropdown {
    border: 2px solid #6557f5; 
    text-align: center;
    padding: 20px;
    display: grid;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.welcome_page__main select {
    width: 100%;
    margin: 26px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    font-size: 18px;
}

.welcome_page__login input {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.welcome_page__login label {
    text-decoration: underline;
    font-size: 18px;
}

.welcome_page__login form {
    margin-top: 30px;
    text-align: left;
}

.login__signin_button {
    background-color: #6557f5; 
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 18px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.category_search_label {
    font-size: 22px;
    font-family: 'Balsamiq Sans', cursive;
}

#index_select {
    width: 60%;
    margin: 26px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 34px;
    font-size: 18px;
}

.index__user_dropdown_search_btn {
    background-color: #6557f5; 
    border: 1px solid #6557f5;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    transition: all linear 0.3s; 
}