a {
    text-decoration: none;
    color: #000000;
}

.button {
    background-color: #6557f5; 
    border: 1px solid #6557f5;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    transition: all linear 0.3s; 
}

.button:hover {
    box-shadow: 0px 5px 10px #d5d5d5;
}

.button_outline {
    background-color: #fff;
    color: #6557f5;
    border: 1px solid #6557f5;
    transition: all linear 0.2;   
}

.button_outline:hover {
    background-color: #6557f5; 
    border: 1px solid #6557f5;
    color: white;
}

.shared_nav nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 0 50px;
}

.shared_nav nav h3 {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
    margin: 0;
}
.navbar_signin a:hover {
    font-weight: bold;
    /* font-size: 1.3rem; */
}

.shared_nav nav span {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 21.5px;
}

.shared_nav nav p {
    text-align: right;
}

.shared_nav nav i {
    margin: 10px 30px 0 0;
    color: #6557f5;
}

.shared_nav nav button {
    font-weight: 500;
    text-transform: uppercase;
}

.global_component {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

