body, h1 {
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
    font-variant: small-caps;
}

.welcome_page__header {
    background-image: url('https://melbournestreet.net/wp-content/uploads/2014/03/melbournestreetHR-.jpg'), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: gray;
    height: 250px;
    display: grid;
    align-content: center;
    text-align: center;
}

.welcome_page__header h1 {
    color: white;
    font-size: 47px;
    font-family: 'Suez One', serif;
}

.welcome_page__main {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 30px auto 0 auto;
}

.welcome_page__user_dropdown {
    border: 2px solid #6557f5; 
    text-align: center;
    padding: 50px;
    display: grid;
    align-items: center;
}

.welcome_page__login {
    border: 2px solid #6557f5; 
    text-align: center;
    padding: 50px;
    width: 50%;
}

.welcome_page__login h3 {
    font-size: 24px;
    margin: 0;
}

.welcome_page__user_dropdown_search_btn {
    background-color: #6557f5; 
    border: 1px solid #6557f5;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.welcome_page__main select {
    width: 100%;
    padding: 12px 20px;
    margin: 26px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    font-size: 18px;
}

.welcome_page__login input {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.welcome_page__login label {
    text-decoration: underline;
}

.welcome_page__login form {
    margin-top: 30px;
    text-align: left;
}

.login__signin_button {
    background-color: #6557f5; 
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 18px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.login__signup_button {
    background-color: #6557f5; 
    border: 1px solid #6557f5;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.category_search_label {
    font-size: 24px;
}
